section.slider {
    margin: 0 auto;
    width: 100%;
    height: 75vh;
    padding: 0;
    overflow: hidden;
}

.slider-content {
    display: flex;
    width: 400%;
    height: 100%;
}

.slider-content input {
    display: none;
    position: fixed;
}

.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 3s;
}

.slide-box img {
    width: 100%;
}

.nav-manual {
    position: absolute;
    width: 100%;
    bottom: 12px;
    margin-top: 1%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn {
    border: 2px solid #0e2301;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.nav-manual .manual-btn:not(:last-child), 
.nav-auto div:not(:last-child) {
    margin-right: 10px;
}

.nav-manual .manual-btn:hover {
    background-color: #7fd958;
}

#radio1:checked~ .nav-auto .auto-btn1 {
    background-color: #7fd958;
}

#radio2:checked~ .nav-auto .auto-btn2 {
    background-color: #7fd958;
}

#radio1:checked~ .primeiro {
    margin-left: 0%;
}

#radio2:checked~ .primeiro {
    margin-left: -25%;
}